<a href="https://colab.research.google.com/github/limshaocong/SysBERT/blob/main/MLM_merge_all_reqs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/limshaocong/SysBERT.git

Cloning into 'SysBERT'...
remote: Enumerating objects: 481, done.
remote: Counting objects: 100% (481/481), done.
remote: Compressing objects: 100% (456/456), done.
remote: Total 481 (delta 49), reused 408 (delta 13), pack-reused 0
Receiving objects: 100% (481/481), 4.19 MiB | 6.60 MiB/s, done.
Resolving deltas: 100% (49/49), done.

Extract all requirements into a list.

In [2]:
import os
import pandas as pd

unlabeled_path = '/content/SysBERT/Requirements/Unlabelled'

all_reqs_list = []
all_source_list = []

for f in os.listdir(unlabeled_path):
  
  f_path = os.path.join(unlabeled_path, f)
  df = pd.read_csv(f_path, encoding = 'ISO-8859-1')
  
  reqs_list = df['reqs'].to_list()
  all_reqs_list.extend(reqs_list)

  source_list = df['source'].to_list()
  all_source_list.extend(source_list)

Remove all url substrings.

In [3]:
import re

all_reqs_list = [re.sub(r'''(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))''', " ", req)
 for req in all_reqs_list]

print(f'{len(all_reqs_list)} requirement statements')

12771 requirement statements

In [4]:
req_dict = {
    'source' : all_source_list,
    'reqs' : all_reqs_list
}

df = pd.DataFrame(req_dict)

df.head()

          source                                               reqs
0  2019_jpss_WEB  The JPSS-1 satellite shall be designed for a m...
1  2019_jpss_WEB  Excluding on-orbit failures, JPSS-1 shall main...
2  2019_jpss_WEB  JPSS-1 shall be operated in a polar sun-synchr...
3  2019_jpss_WEB  JPSS-1 shall be Category 1 per NASA Procedural...
4  2019_jpss_WEB  The JPSS-1 satellite shall be launched on an e...

In [17]:
import math
import random

random.seed(1)

shuffled_df = df.sample(frac = 1)
shuffled_df

train_n = math.floor(0.9 * shuffled_df.shape[0])

train = shuffled_df[:train_n]
test = shuffled_df[train_n:]

In [18]:
test.shape

(1278, 2)

In [19]:
train.to_csv('mlm_train.csv', index = False)
test.to_csv('mlm_test.csv', index = False)